<div class="bio" id="bio"> 
    <div class="header">
        <h2>Trochę więcej o moich hobby</h2>
    </div>
    <div class="content">
        <div class="hobbycontainer">
            <h2>Podróże motocyklowe</h2>
            <p>
                W trasie odnajduję wolność. Autostrada, las, miejska dżungla, polna droga.
            </p>
            <p>
                Motocykl to dla mnie nie tylko środek transportu, ale 
                sposób wyrażenia emocji, pomysł na dynamiczną eksplorację świata. 
                Ryk silnika, wiatr i piękne widoki – to mój reset. Fizyczny i mentalny.
            </p>
            <div class="imagescontainer">
                <p class="carouselinfo">Kliknij aby przewinąć</p>
                <app-mini-carousel
                [images]="[
                  'assets/bio/moto3.png',
                  'assets/bio/moto1.png',
                  'assets/bio/moto2.png',
                  'assets/bio/moto4.png',
                  'assets/bio/moto5.png',
                ]"
                [blurred]="false"
              >
            </app-mini-carousel>
            </div>
        </div>
        <div class="hobbycontainer">
            <h2>Tenis ziemny</h2>
            <p>
                Od lat gram amatorsko – to mój sposób na ruch, rywalizację i świetną zabawę. 
                Wymiany piłek uczą taktyki i szybkiego podejmowania decyzji, 
                a każdy mecz to okazja do lepszego poznania siebie i przeciwnika.
            </p>
            <div class="imagescontainer">
                <app-mini-carousel
                [images]="[
                  'assets/bio/tenis1.png',
                ]"
                [blurred]="false"
              >
            </app-mini-carousel>
            </div>
        </div>
        <div class="hobbycontainer">
            <h2>Terrarystyka</h2>
            <p>
                Od malucha fascynował mnie świat egzotycznych zwierząt. Mam kilka terrariów z egzotycznymi 
                zwierzętami – od modliszek przez skorpiony po pajęczaki <br>
                Obserwowanie ich zachowań to jak patrzenie w
                 mikrokosmos, który cały czas zaskakuje.
            </p>
            <div class="imagescontainer">
                <p class="carouselinfo">Kliknij aby odblurować</p>
                <app-mini-carousel
                [images]="[
                    'assets/bio/terra3.png',
                  'assets/bio/terra2.png',
                  'assets/bio/terra1.png',
                ]"
                [blurred]="true"
              >
            </app-mini-carousel>
            </div>
        </div>
        <div class="hobbycontainer">
            <h2>Strzelectwo</h2>
            <p> Zdecydowanie. Jeśli coś jest egoztyczne, to muszę tego spróbować! 
                Ze strzelectwem nie było innaczej.
            </p>
            <p>
                Precyzja, koncentracja, bezpieczeństwo. A przede wszystkim frajda!
                Przez te wszystkie aspekty trafiłem do strzelectwa sportowego.
            </p>
            <p>
                <i>"Każdy oddany strzał to nie przypadek. To rytuał."</i> - Ja, 2024.
            </p>
            <div class="imagescontainer">
                <app-mini-carousel
                [images]="[
                  'assets/bio/gun1.png',
                  'assets/bio/gun2.png'
                ]"
                [blurred]="false"
              >
            </app-mini-carousel>
            </div>
        </div>
        <div class="hobbycontainer">
            <h2>Ogrodnictwo</h2>
            <p>
                W ogrodzie odnajduję spokój i relaks – to mój zielony azyl. 
            </p>
            <p>
                Przycinanie drzewek i krzewów sprawia mi satysfakcję. 
                 To prawdziwa sztuka kształtowania natury. Każde starannie wykonane cięcie 
                 nadaje roślinom formę na lata, wspierając ich zdrowy wzrost i 
                 podkreślając naturalne piękno ogrodu.
            </p>
            <div class="imagescontainer">
                <app-mini-carousel
                [images]="[                  
                    'assets/bio/garden5.png',
                    'assets/bio/garden1.png',
                    'assets/bio/garden2.png',                  
                    'assets/bio/garden3.png',                  
                    'assets/bio/garden4.png',
                ]"
                [blurred]="false"
              >
            </app-mini-carousel>
            </div>
        </div>
        <div class="hobbycontainer">
            <h2>Morsowanie</h2>
            <p>
                Kiedy większość ludzi zakłada dodatkową warstwę, ja... zdejmuję kolejną. <br>
                Zimna woda pobudza, dyscyplinuje i hartuje. To wciąga.
            </p>
            <div class="imagescontainer">
                <app-mini-carousel
                [images]="[
                  'assets/bio/morsy1.png',
                  'assets/bio/morsy2.png',
                  'assets/bio/morsy3.png',
                ]"
                [blurred]="false"
              >
            </app-mini-carousel>
            </div>
        </div>
        <div class="hobbycontainer">
            <h2>I inne</h2>
            <p>
                Mam też wiele innych pomniejszych pasji takich jak:
                winiarstwo, gra w bilard, wędkarstwo, fotografia, montowanie filmów, jazda na rolkach, 
                łucznictwo, spacery, pieczenie słodkości, układanie puzzli czy gry mobilne.
            </p>
            <p>
                Zaliczę też tutaj programowanie, bo to ciągle moja pasja.
            </p>
            <!-- <div class="imagescontainer">
                <app-mini-carousel
                [images]="[
                ]"
                [blurred]="false"
              >
            </app-mini-carousel>
            </div> -->
        </div>
    </div>  
</div>