<div class="knowledge" id="knowledge">
    <div class="content">
      <div class="header">
        <h2>Skąd czerpię wiedzę?</h2>
      </div>
  
      <div class="podcasts">
        <div class="sectioncontent">
          <div class="text">
            <h3>Podcasty</h3>
            <p>Podcast <span class="highlight">"Ostrapiła"</span> - Paweł Łukasik i Jarosław Stadnicki<br>
            Podcast <span class="highlight">"Więcej niż konteneryzacja"</span> - Damian Naprawa <br>
            Podcast <span class="highlight">"Deal with IT"</span> - Mateusz Styburski i Daniel Woźniak</p>
          </div>
        </div>
      </div>
      <div class="newsletters">
        <div class="sectioncontent">
          <div class="text">
            <h3>Newslettery ze świata IT</h3>
            <p>Subskrybuję newslettery od:
                <br> Kazimierza Szpina (Content .NET i nie tylko)
                <br> Damiana Naprawy (Content Docker i K8S)
                <br> Krzysztofa Goneta (Content AI)</p>
          </div>
        </div>
      </div>
      <div class="courses">
        <div class="sectioncontent">
          <div class="text">
            <h3>Kursy</h3>
            <p>Wykupiłem i przerobiłem kilka kursów, dzięki którym zdobyłem cenną wiedzę:</p>
                <span class="highlight">"Zostań .NET Back-End Developerem"</span> - Patryk Sładek - Kurs tworzenia WebAPI<br>
                <span class="highlight">"Szkoła testów jednostkowych"</span> - Kazimiesz Szpin - Kurs testów jednostkowych w .NET<br>
                <span class="highlight">"Angular - The Complete Guide (2025 Edition)"</span> -  Maximilian Schwarzmüller - Kurs Angulara
            
          </div>
        </div>
      </div>
      <div class="projects">
        <div class="sectioncontent">
          <div class="text">
            <h3>Własne Projekty</h3>
            <p>Wykonałem sporo projektów zarówno prywatnych jak i uczelnianych, które pozwoliły mi na zdobycie praktyki w tworzeniu oprogramowania. Największe opisałem w sekcji <span class="highlight"><a href="#projects">Projekty</a></span></p>
          </div>
        </div>
      </div>
      <div class="webinary">
        <div class="sectioncontent">
          <div class="text">
            <h3>Webinary</h3>
            <p>Brałem udział w webinarach na rózne tematy związen z IT. Zarówno w tych o konstuowaniu CV, jak i tych dotyczących programowania, sztucznej inteligencji, konteneryzacji, CI/CD i innych. Jest to cenne źródło darmowej wiedzy.</p>
          </div>
        </div>
      </div>
      <div class="mentoring">
        <div class="sectioncontent">
          <div class="text">
            <h3>Mentoring</h3>
            <p>Zdarzyło się, że wykupiłem mentoring, aby poradzić się doświadczonych seniorów w kwestiach architektury i dobrych praktyk programistycznych.</p>
          </div>
        </div>
      </div>
      <div class="docsy">
        <div class="sectioncontent">
          <div class="text">
            <h3>Inne</h3>
            <p>Docsy (dokumentacje)</p>
            <p>GPT</p>
            <p>Konferencje: <span class="highlight">.NET Summit</span>, prelekcje na targach pracy</p>
            <p>Książki: "Czysty kod", "Refaktoryzacja"</p>
            <p>Fora dyskusyjne</p>
            <p>Materiały wideo np. YT</p>
          </div>
        </div>
      </div>
    </div>
</div>