<footer class="footer">
    <hr class="footer-line" />
    <div class="footer-content">
        <div class="contact">
            <div class="contact-icons">   
              <div class="icon" onclick="window.open('https://github.com/Arachnacein', '_blank')">
                <img src="assets/footer/github.png" alt="GitHub">
              </div>
              <div class="icon" onclick="window.open('https://www.facebook.com/profile.php?id=100009543060362&locale=pl_PL', '_blank')">
                <img src="assets/footer/facebook.png" alt="GitHub">
              </div>
              <div class="icon" onclick="window.open('https://www.linkedin.com/in/jakubluka/', '_blank')">
                <img src="assets/footer/linkedin.png" alt="LinkedIn">
              </div>
            </div>
            <div class="copy">
                &copy; 2025 | Jakub Kamil Łuka
            </div>
        </div>
  
      <div class="footer-info">
        <img src="assets/home/profile.png" alt="Jakub Kamil Łuka" class="footer-avatar" />
        <div class="footer-details">
          <h4>Jakub Kamil Łuka</h4>
          <p>Junior .NET Developer</p>
          <p>
            jakub26800&#64;gmail.com <br/>
            +48 501 839 501
          </p>
        </div>
      </div>
    </div>
  </footer>
  