<div class="techstack" id="techstack">
    <div class="header">
        <h2>Techstack</h2>        
    </div>
    <div class="skills">
        <div class="languages">
            <h3>Języki programowania</h3>
            <p>C#, .NET</p>
            <p>HTML</p>           
            <p>SQL</p>
            <p>CSS, SCSS</p>
            <p>TypeScript</p>
        </div>
        <div class="frameworks">
            <h3>Frameworki i biblioteki</h3>
            <p>Blazor</p>
            <p>WebAPI</p>
            <p>EntityFramework</p>
            <p>xUnit, nUnit</p>
            <p>ASP .NET MVC</p>
            <p>Ocelot</p>
            <p>Angular</p>
        </div>
        <div class="tools">
            <h3>Narzędzia pracy</h3>
            <p>Visual Studio</p>
            <p>MS SQL Management Studio</p>
            <p>Docker Desctop</p>
            <p>Postman</p>
            <p>KeyCloak</p>
            <p>Visual Studio Code</p>
            <p>Google Services</p>
            <p>Gimp</p>
            <p>Windows</p>
        </div>
        <div class="databases">
            <h3>Bazy danych</h3>
            <p>MySQL</p>
            <p>PostgreSQL</p>
            <p>Cassandra</p>
            <p>Neo4J</p>
        </div>
        <div class="cloud">
            <h3>Platformy chmurowe</h3>
            <p>Docker</p>
            <p>Microservices</p>
            <p>K8s</p>
        </div>       
        <div class="tests">
            <h3>Testowanie aplikacji</h3>
            <p>Testy jednostkowe</p>
            <p>SAST, DAST, IAST</p>
            <p>Testy obrazów kontenerów</p>
        </div>   
        <div class="patterns">
            <h3>Wzorce projektowe</h3>
            <p>CQRS</p>
            <p>Serwis-Repozytorium</p>
            <p>Wstrzykiwanie zależności</p>
            <p>Singleton</p>
            <p>REST</p>
            <p>Dekorator</p>
        </div>    
        <div class="other">
            <h3>Inne</h3>
            <p>Chat GPT</p>
            <p>Copilot</p>
            <p>SOLID</p>
            <p>Komunikatywnosć</p>
            <p>Praca zespołowa</p>
            <p>Sumienność</p>
            <p>Dokładność</p>
        </div>    
        <div class="cicd">
            <h3>Kontrola wersji</h3>
            <p>Git</p>
            <p>GitHub</p>
            <p>Azure DevOps</p>
        </div>   
    </div>
</div>