<div class="techstack" id="techstack">
    <div class="header">
        <h2>Techstack</h2>
        <div class="gradient-rectangle">
            <span class="left-text">dobra znajomość</span>
            <span class="right-text">uczę się</span>
          </div>
          
    </div>
    <div class="skills">
        <div class="languages">
            <h3>Języki programowania</h3>
            <p class="best">.NET, C#</p>
            <p class="medium">SQL</p>
            <p class="best">HTML</p>           
            <p class="medium"> CSS, SCSS</p>
            <p class="learning">TypeScript</p>
        </div>
        <div class="frameworks">
            <h3>Frameworki i biblioteki</h3>
            <p class="best">Blazor</p>
            <p class="best">WebAPI</p>
            <p class="best">EntityFramework</p>
            <p class="best">xUnit, nUnit</p>
            <p class="learning">Angular</p>
            <p class="best">ASP .NET MVC</p>
            <p class="medium">Ocelot</p>
            <p></p>
        </div>
        <div class="tools">
            <h3>Narzędzia pracy</h3>
            <p class="best">Visual Studio</p>
            <p class="medium">Visual Studio Code</p>
            <p class="best">MS SQL Management Studio</p>
            <p class="best">Docker Desctop</p>
            <p class="best">Postman</p>
            <p class="best">KeyCloak</p>
            <p class="best">Google Services</p>
            <p class="best">Gimp</p>
            <p class="best">Windows</p>
            <p class="best"></p>
        </div>
        <div class="databases">
            <h3>Bazy danych</h3>
            <p class="best">MySQL</p>
            <p class="best">PostgreSQL</p>
            <p class="medium">Cassandra</p>
            <p class="medium">Neo4J</p>
        </div>
        <div class="cloud">
            <h3>Platformy chmurowe</h3>
            <p class="best">Docker</p>
            <p>K8s</p>
            <p class="best">Microservices</p>
            <p></p>
            <p></p>
        </div>       
        <div class="tests">
            <h3>Testowanie aplikacji</h3>
            <p class="best">Testy jednostkowe</p>
            <p class="best">SAST, DAST, IAST</p>
            <p class="best">Testy obrazów kontenerów</p>
            <p></p>
            <p></p>
        </div>   
        <div class="patterns">
            <h3>Wzorce projektowe</h3>
            <p class="best">CQRS</p>
            <p class="best">Serwis-Repozytorium</p>
            <p class="best">Wstrzykiwanie zależności</p>
            <p>Dekorator</p>
            <p class="best">Singleton</p>
            <p class="best">REST</p>
            <p></p>
        </div>    
        <div class="other">
            <h3>Inne</h3>
            <p class="best">Chat GPT</p>
            <p class="best">Copilot</p>
            <p class="best">SOLID</p>
            <p class="best">Komunikatywnosć</p>
            <p class="best">Praca zespołowa</p>
            <p class="best">Sumienność</p>
            <p class="best">Dokładność</p>
        </div>    
        <div class="cicd">
            <h3>Kontrola wersji</h3>
            <p class="best">Git</p>
            <p class="best">GitHub</p>
            <p>Azure DevOps</p>
            <p></p>
        </div>   
    </div>
</div>