<nav class="navbar">
    <ul class="nav-links">
      <li><a href="#home">Początek</a></li>
      <li><a href="#techstack">Techstack</a></li>
      <li><a href="#school">Szkoła</a></li>
      <li><a href="#work">Praca</a></li>
      <li><a href="#projects">Projekty</a></li>
      <li><a href="#bio">Bio</a></li>
      
      <!-- <li class="dropdown">
        <a>Zmień język</a>
        <ul class="dropdown-menu">
          <li><button>PL</button></li>
          <li><button>EN</button></li>
        </ul>
      </li> -->
    </ul>
  </nav>