<div class="studies" id="experience">
    <div class="school">
        <h2>Co poznałem na studiach?</h2>
        <div class=""></div>
    </div>
    <div class="content">
        <p>Studia pozwoliły mi na poznanie szerokiego wachlarza dziedzin Informatyki 💻</p>
        <p>Podczas nauki zdobyłem solidne podstawy teoretyczne i praktyczne w zakresie programowania – od podstawowego, przez obiektowe, funkcyjne i niskopoziomowe, aż po zaawansowane i równoległe. Rozwijałem umiejętności w pracy z bazami danych (w tym NoSQL i rozproszonymi), inżynierii oprogramowania, systemach operacyjnych i sieciowych, a także technologiach webowych i mobilnych. Uczyłem się tworzyć aplikacje internetowe, systemy grafiki komputerowej i interfejsy użytkownika.</p>
        <p>Specjalizacja <span class="highlight">inżynierska 🔥</span>skoncentrowana była na systemach i bazach danych, co pozwoliło mi dogłębnie poznać zagadnienia związane z projektowaniem, optymalizacją i bezpieczeństwem systemów informatycznych oraz przetwarzaniem danych w środowiskach rozproszonych. Pracowałem nad projektami uczelnianymi oraz odbyłem super praktyki zawodowe w softwarehousie jako <span class="highlight">Fullstack .NET Developer</span> 💪💻</p>
        <p>Na poziomie <span class="highlight">magisterskim 🎓</span> skupiłem się na inteligencji obliczeniowej, eksplorując tematy takie jak sztuczna inteligencja, uczenie głębokie, metody inteligentnej optymalizacji, widzenie komputerowe oraz przetwarzanie dużych zbiorów danych. Dzięki temu potrafię budować nowoczesne rozwiązania oparte na danych i modelach uczenia maszynowego.</p>
        <p>Oprócz aspektów technicznych, program studiów obejmował także <span class="highlight">kompetencje miękkich i społecznych</span> – takie jak filozofia, socjologia, przedsiębiorczość, etyka zawodowa, a także praktyki zawodowe i projekty zespołowe. Dzięki temu potrafię nie tylko programować, ale również efektywnie pracować w zespole, rozwiązywać złożone problemy i komunikować się z osobami nietechnicznymi.</p>

    </div>
</div>