<div class="tech-slider">
    <div class="tech-slider-track">
      <span>Powered by AI</span>
      <span>Powered by Angular</span>
      <span>Powered by good water hydration</span>
      <span>Powered by CTRL + Z</span>
      <span>Powered by AI</span>
      <span>Powered by Angular</span>
      <span>Powered by good water hydration</span>
      <span>Powered by CTRL + Z</span>
      <span>Powered by AI</span>
      <span>Powered by Angular</span>
      <span>Powered by good water hydration</span>
      <span>Powered by CTRL + Z</span>
      <span>Powered by AI</span>
      <span>Powered by Angular</span>
      <span>Powered by good water hydration</span>
      <span>Powered by CTRL + Z</span>
    </div>
  </div>
  