.carousel-container {
  perspective: 1000px;
  width: auto;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease, filter 0.3s ease;

  &:hover {
    cursor: pointer;
  }
}

.carousel-item.landscape {
  width: 25%;
  aspect-ratio: 4 / 3; 
}

.carousel-item.portrait {
  width: 25%;
  aspect-ratio: 2 / 3;
}

.center {
  transform: translate(-50%, -50%) translateZ(100px);
  z-index: 3;
}

.left {
  transform: translate(-50%, -50%) translateX(-99%) translateZ(-70px) rotateY(20deg);
  z-index: 2;
}

.right {
  transform: translate(-50%, -50%) translateX(99%) translateZ(-70px) rotateY(-20deg);
  z-index: 2;
}

.far-left {
  transform: translate(-50%, -50%) translateX(-150%) translateZ(-100px) rotateY(30deg);
  z-index: 1;
  opacity: 0.5;
}

.far-right {
  transform: translate(-50%, -50%) translateX(150%) translateZ(-100px) rotateY(-30deg);
  z-index: 1;
  opacity: 0.5;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.blurred {
  filter: blur(5px);
}