<div class="home" id="home">
    <div class="aboutme">
        <h2>Jakub Łuka<span class="little">(mgr inż.)</span></h2>
        <div class="picture">
            <img src="assets/home/profile.png" alt="It's me" >
        </div>
        <p>
          💻 <span class="highlight">Junior .NET Developer</span> z pasją do rozwiązywania problemów, 
          który odnajduje radość w kodowaniu, eksplorowaniu technologii i pracy zespołowej. 
          Programowanie daje mi satysfakcję, a <span class="highlight">C#</span>, platforma 
          <span class="highlight">.NET</span> oraz rozwiązania <span class="highlight">Microsoft</span>u to 
          obszary, w których czuję się jak ryba w wodzie.
        </p>
        <p>
           Od 2020 roku rozwijam się w świecie IT – od studiów inżynierskich i magisterskich po praktyki 
          w software housie oraz własne projekty. Biegle używam takich technologii jak: 
          C#, Docker, WebAPI, REST, testy oprogramowania i wiele więcej.
        </p>
        <p>
           Fascynują mnie technologie chmurowe i architektury mikroserwisowe, a w pracy stawiam 
          na <span class="highlight">dobrą komunikację</span> w zespole, solidność i otwartość na rozwój. Uwielbiam poznawać 
          nowe wzorce, narzędzia i dobre praktyki.
        </p>
        <p>
          🚀 Szukam pierwszej zawodowej przygody, która pozwoli mi się rozwijać, dzielić energią i 
          tworzyć realne, przydatne rozwiązania. Chcesz wiedzieć więcej? Scrolluj dalej!
        </p>
    </div>
    <div class="lower">
        <div class="contact">
            <div class="row">
                <div class="item">
                    <img src="assets/home/phone.png">
                    <p>501 839 501</p>
                </div>
                <div class="item">
                    <img src="assets/home/mail.png">
                    <p>jakub26800&#64;gmail.com</p>
                </div>
            </div>
            <div class="row">
                <div class="item">
                    <img src="assets/home/github.png">
                    <a href="https://github.com/Arachnacein/App">github.com/Arachnacein/App</a>
                </div>
                <div class="item">
                    <img src="assets/home/linkedin.png">
                    <a href="https://www.linkedin.com/in/jakubluka/">linkedin.com/in/jakubluka/</a>
                </div>
            </div>
        </div>
        <div class="download">
            <button> 
                <p>Get resume</p>
                <img src="assets/home/download.png">
            </button>
        </div>
    </div>

</div>