<div class="projects" id="projects">
    <div class="header">
        <h2>Projekty, które zrealizowałem</h2>
    </div>
    <div class="app">
        <div class="title">
            <h3 class="mainh3">Aplikacja do zarządzania budżetem domowym</h3>
        </div>
        <div class="shortdesc">
            <p>
                Pomysł na aplikację budżetową narodził się z mojej potrzeby 
                lepszegozarządzania finansami. Początkowo prowadziłem zapiski ręcznie, później przeniosłem się do Excela, ale szybko uznałem, że nie spełnia on moich oczekiwań. Chciałem czegoś bardziej przejrzystego, intuicyjnego i skrojonego pod moje potrzeby — dlatego postanowiłem stworzyć własną aplikację, która automatyzuje obliczenia i kategoryzuje wydatki według moich zasad.
            </p>
        </div>
        <div class="carousel" id="appCarouselPointer">
            <app-carousel [slides]="app" [interval]="5000" #appCarouselPointer></app-carousel>
        </div>
        <div class="fulldesc">
            <h3>Jak to działa?</h3>
            <p>
            W zakładce Budżet <a href="#" class="clearhref" (click)="scrollToSlide(appCarouselPointer, 0, $event)">( slajd 1 )</a>
            możesz śledzić swoje miesięczne wydatki. Najlepiej zacząć od dodania przychodu – może to być wypłata, wygrana czy nawet znalezione pieniądze. Przy pierwszym przychodzie w danym miesiącu system zaproponuje wybór schematu podziału dochodu – możesz wybrać gotowy lub stworzyć własny. Aplikacja automatycznie rozdzieli środki między kategorie i zaktualizuje dane w tabelach. Możesz następnie dodawać transakcje ręcznie, a w razie potrzeby przeciągnąć je między kategoriami. Po najechaniu kursorem zobaczysz datę i opis, a kliknięcie pozwoli edytować lub usunąć transakcję.
            </p>
            <p>
            Dodatkowo aplikacja obsługuje transakcje cykliczne – przychody lub wydatki, które powtarzają się automatycznie. Można ustalić zakres dat i częstotliwość. Niezatwierdzone transakcje mają biały obrys i nie są liczone w statystykach, natomiast zatwierdzone zmieniają obrys na zielony i są wliczane do podsumowań.
            </p>
            <h3>Architektura aplikacji</h3>
            <p>
            Projekt oparty jest o Clean Architecture, która oddziela logikę biznesową od warstwy danych i interfejsu użytkownika. Całość podzielona jest na warstwy, które komunikują się ze sobą w sposób jasno zdefiniowany. Dodatkowo aplikacja wykorzystuje podejście mikroserwisowe. Każdy moduł – jak API budżetowe czy interfejs graficzny – jest osobnym serwisem połączonym przez API Gateway.
            </p>  
            <div class="iconsbar">
                <p>Jeśli jesteś ciekawy/ciekawa kodu, zajrzyj na gita tutaj -></p>
                <div class="icon-circle" onclick="window.open('https://github.com/Arachnacein/App', '_blank')">
                    <img src="assets/home/github.png" alt="GitHub">
                </div>
            </div>          
        </div>
        <div class="techstack">
            <div class="icon-wrapper">
                <img src="assets/projects/net.png" alt=".NET" title=".NET"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/vs.png" alt="Visual Studio" title="Visual Studio"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/csharp.png" alt="C#" title="C#"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/restapi.png" alt="REST" title="REST"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/blazor.png" alt="Blazor" title="Blazor"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/keycloak.png" alt="Keycloak" title="Keycloak" />
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/git.png" alt="Git" title="Git"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/docker.png" alt="Docker" title="Docker"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/github.png" alt="GitHub" title="GitHub"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/sql.png" alt="MSSQL" title="MSSQL"/>
            </div>            
            <div class="icon-wrapper">
                <img src="assets/projects/mysql.png" alt="MySQL" title="MySQL"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/postman.png" alt="Postman" title="Postman"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/html.png" alt="HTML" title="HTML"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/css.png" alt="CSS" title="CSS"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/cqrs.png" alt="CQRS" title="CQRS"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/wsl2.png" alt="WSL2" title="WSL2"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/xunit.png" alt="xUnit" title="xUnit"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/microservices.png" alt="microservices" title="microservices"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/windows.png" alt="Windows" title="Windows"/>
            </div>
        </div>   
    </div>
    <div class="master">
        <div class="title">
            <h3 class="mainh3">Praca magisterska</h3>
        </div>
        <div class="content">
            <p>
                Tematem mojej pracy magisterskiej było przeprowadzenie różnych testów aplikacji.
                Najpierw musiałem napisać aplikację e-commerce opartą na architekturze mikroserwisów, składającą 
                się z niezależnych modułów odpowiadających za zarządzanie magazynem, klientami 
                oraz zamówieniami. Całość połączona była przez API Gateway i wyposażona w graficzny interfejs
                użytkownika.
            </p>
            <p>
                Kluczową częścią projektu była rozbudowana sekcja testów, obejmująca 
                <u>testy jednostkowe</u>, <u>funkcjonalne</u>, <u>integracyjne</u>, <u>wydajnościowe</u>, 
                <u>testy akceptacyjne</u>, <u>testy bezpieczeństwa</u> (<u>SAST</u> i <u>DAST</u>), a także 
                <u>testy bezpieczeństwa obrazów kontenerów</u>. 
                Projekt miał na celu nie tylko stworzenie kompletnego systemu, ale także udowodnienie 
                znaczenia jakości oprogramowania poprzez wszechstronne testowanie.
              </p>
              
        </div>
        <div class="carousel">
            <app-carousel [slides]="master" [interval]="5000"></app-carousel>
        </div>
        <div class="techstack">
            <div class="icon-wrapper">
                <img src="assets/projects/net.png" alt=".NET" title=".NET"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/csharp.png" alt="C#" title="C#"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/vs.png" alt="Visual Studio" title="Visual Studio"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/restapi.png" alt="REST" title="REST"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/blazor.png" alt="Blazor" title="Blazor"/>
            </div>
              <div class="icon-wrapper">
                <img src="assets/projects/git.png" alt="Git" title="Git"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/docker.png" alt="Docker" title="Docker"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/wsl2.png" alt="WSL2" title="WSL2"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/github.png" alt="GitHub" title="GitHub"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/sql.png" alt="MSSQL" title="MSSQL"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/mysql.png" alt="MySQL" title="MySQL"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/postman.png" alt="Postman" title="Postman"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/html.png" alt="HTML" title="HTML"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/css.png" alt="CSS" title="CSS"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/nunit.png" alt="NUnit" title="NUnit"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/xunit.png" alt="xUnit" title="xUnit"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/katalon.png" alt="Katalon" title="Katalon"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/specflow.png" alt="SpecFlow" title="SpecFlow"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/trivy.png" alt="Trivy" title="Trivy"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/microservices.png" alt="microservices" title="microservices"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/githubactions.png" alt="GitHub Actions" title="GitHub Actions"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/windows.png" alt="Windows" title="Windows"/>
            </div>
        </div>
        <div class="iconsbar">
            <div class="icon-circle" onclick="window.open('https://github.com/Arachnacein/Shop', '_blank')">
                <img src="assets/home/github.png" alt="GitHub">
            </div>
            <div class="icon-circle" onclick="window.open('https://drive.google.com/file/d/1kGHzMemIvcGopTz30YGTAbAIT0rTxetj/view?usp=sharing', '_blank')">
                <img src="assets/projects/thesis.png" alt="Praca magisterska">
            </div>
        </div>
    </div>
    <div class="engineering">
        <div class="title">
            <h3 class="mainh3">Praca inżynierska</h3>
        </div>
        <div class="content">
            <p>
                Tematem mojej pracy inżynierskiej było utowrzenie systemu wspomagającego 
                    planowanie dyżurów medycznych w Szpitalnym Oddziale Ratunkowym w Siedlcach. 
                    Stworzyłem kompleksowe rozwiązanie obejmujące REST API w technologii <span class="highlight">.NET Core</span>, 
                    aplikację mobilną napisaną w <span class="highlight">Kotlinie</span> oraz bazę danych 
                    <span class="highlight"> SQL Server</span>. 
            </p>
            <p>
                System umożliwia m.in. generowanie miesięcznych grafików pracy z uwzględnieniem złożonych 
                kryteriów zatrudnienia, zamiany dyżurów, obsługę próśb pracowników oraz funkcje administracyjne.
                Aplikacja została zaprojektowana z myślą o intuicyjnej obsłudze przez osoby 
                nieobeznane z nowymi technologiami, a jej wdrożenie miało realnie usprawnić codzienną pracę personelu
                szpitalnego. Projekt został wykonany zgodnie z zasadami inżynierii oprogramowania oraz standardów RODO.
                
            </p>
            <p><span class="highlight">Moja aplikacja pozwoliła na skrócenie czasu układania grafiku z kilku dni do kilku sekund!!</span></p>
        </div>
        <div class="techstack">
            <div class="icon-wrapper">
                <img src="assets/projects/android.png" alt="Android" title="Android"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/kotlin.png" alt="Kotlin" title="Kotlin"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/csharp.png" alt="C#" title="C#"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/netcore.png" alt=".Net Core" title=".Net Core"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/restapi.png" alt="REST" title="REST"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/sql.png" alt="MSSQL" title="MSSQL"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/mysql.png" alt="MySQL" title="MySQL"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/swagger.png" alt="Swagger" title="Swagger"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/vs.png" alt="Visual Studio" title="Visual Studio"/>
            </div>
            <div class="icon-wrapper">
                <img src="assets/projects/androidstudio.png" alt="Android Studio" title="Android Studio"/>
            </div>
        </div>
        <div class="iconsbar">
            <div class="icon-circle" onclick="window.open('https://github.com/Arachnacein/EngineeringThesis', '_blank')">
                <img src="assets/home/github.png" alt="GitHub">
            </div>
            <div class="icon-circle" onclick="window.open('https://drive.google.com/file/d/1W4taZ0QlNpvBGh18hS5vN0cqAyu73UmR/view?usp=sharing', '_blank')">
                <img src="assets/projects/thesis.png" alt="Praca magisterska">
            </div>
        </div>
    </div>
</div>