.projects {
  max-width: 1500px;
  padding: 2rem;
  margin: auto;
  margin-top: 3%;
  flex-wrap: wrap;


  .header {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 3.5rem;
      color: goldenrod;
      position: relative;
      display: inline-block;
      padding-bottom: 0.5rem;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: linear-gradient(
          to right,
          transparent 0%,
          goldenrod 70%,
          transparent 100%
        );
        filter: blur(1px);
        pointer-events: none;
        animation: pulsar 2.5s infinite ease-in-out;
      }
    }
  }

  .app {
    .tech-icons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      img,
      i {
        height: 40px;
        transition: transform 0.3s, filter 0.3s ease;
        filter: brightness(0.9) contrast(1.2);
      }

      img:hover,
      i:hover {
        transform: scale(1.6);
        filter: brightness(1.2) drop-shadow(0 0 6px rgba(255, 215, 0, 0.3));
      }
    }

    .shortdesc,
    .fulldesc {
      p {
        line-height: 1.6;
        font-size: 1.3em;
        padding: 2%;
        text-align: justify;
        color: #e0e0e0;
        text-indent: 2em;
      }
    }

    .techstack {
      text-align: center;

      img {
        height: 82px;
        padding: 5px;
        margin: 10px;
        filter: brightness(0.9) contrast(1.2);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.15);
          filter: brightness(1.2);
        }
      }
    }
  }

  .engineering,
  .master {
  }

  h3 {
    line-height: 1.6;
    font-size: 2rem;
    padding: 2%;
    text-align: center;
    color: goldenrod;
    text-shadow: 0 0 6px rgba(218, 165, 32, 0.2);
  }

  .highlight {
    color: goldenrod;
    font-weight: bold;
  }
}

@keyframes pulsar {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.79;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.88;
  }
  55% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.79;
  }
  100% {
    opacity: 1;
  }
}
