.work {
    max-width: 1500px;
    padding: 40px;
    margin: auto;
    margin-top: 3%;
    flex-wrap: wrap;
    padding: 2rem;
    
    .content {
        .header {
            text-align: center;
            margin-bottom: 2rem;
            
            h2 {
                font-size: 3.5rem;
                color: #C49AD6;
                position: relative;
                display: inline-block; 
                padding-bottom: 0.5rem;
                color: #C49AD6;
                font-size: 3.5rem;
                
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    text-align: center;
                    background: linear-gradient(
                        to right,
                        transparent 0%,
                        #C49AD6 70%,
                        transparent 100%
                        );
                    filter: blur(1px);
                    pointer-events: none;
                    animation: pulsar 2.5s infinite;
                  }
              }
            h3 {
                font-size: 2rem;
                color: #C49AD6;
            }
        }

        .eastsoft > .eastsoftcontent {
            margin-top: 10%;           
            .logo {
                text-align: center;
                .imgeeastsoft {
                    max-width: 500px;
                    max-height: 500px;
                }
            }
        }

        .tygodnik > .tygodnikcontent {
            margin-top: 10%;           
            .logo {     
                text-align: center;
                .imagetygodnik {
                    max-width: 500px;
                    max-height: 500px;
                }
            }
        }

        .tutoring > .tutoringcontent {
            margin-top: 10%;           
        }

        .hospital > .hospitalcontent {
            .logo {
                text-align: center;
                img {
                    max-width: 500px;
                    max-height: 500px;
                }
            }
        }
    }

    .text {
        p, ul {
            line-height: 1.6;
            font-size: 1.3em;
            padding: 1%;
            text-align: justify;
            color: rgb(173, 83, 133);
            text-indent: 2em;
        }
        .highlight {
            color: goldenrod;
            font-weight: bold;
        }
    }
}

@keyframes pulsar {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0.4;
    }
    25% {
      opacity: .79;
    }
    30% {
      opacity: 0.4;
    }
    35% {
      opacity: 0.88;
    }
    55% {
      opacity: 0.2;
    }
    60% {
      opacity: .9;
    }
    70% {
      opacity: 0.3;
    }
    75% {
      opacity: .79;
    }
    100% {
      opacity: 1;
    }
  }
  