<div class="work">
    <div class="content">
        <div class="header">
            <h2>Gdzie zdobywałem doświadczenie?</h2>
        </div>
        <div class="eastsoft">
            <div class="eastsoftcontent">
                <div class="logo">
                    <img class="imgeeastsoft" src="assets/work/eastsoft.png">
                </div>
                <div class="text">
                    <p>
                        Praktyki w <span class="highlight">Eastsoft'cie</span> były dla mnie pierwszym realnym krokiem w świat
                         komercyjnego programowania. Miałem okazję rozwijać funkcjonalności aplikacji webowej od strony backendu 
                         jak i frontendu. Pracowałem w zespole ERP w ich codziennym rytmie pracy. Pracowałem w tygodniowych sprintach, 
                         brałem udział w spotkaniach, standupach, wyliczeniach projektowych oraz prognozowaniu zadań. 
                    </p>
                    <p>
                        Przez cały czas praktyk rozbudowywałem aplikację rejestrującą czas pracy. <br>
                        1. Wdrożyłem od zera system zarządzania urlopami – wraz z GUI i obsługą wniosków o urlop.<br>
                        2. Dodałem panele liderów oraz admina. <br>
                        3. Stworzyłem funkcjonalność dzielenia trwającego zadania – użytkownicy mogli ustawić godzinę zakończenia obecnego zadania
                        i rozpocząć nowe zadanie. Rozwiązało to bardzo częsty problem zapominania o zmianie statusu. <br>
                        4. Doświadczenie wzbogaciły również cotygodniowe spotkania zespołu i feedback od doświadczonych developerów.
                         
                        
                    </p>
                    <p>
                        Dało mi to szersze spojrzenie na pracę nad rzeczywistym 
                         produktem. To właśnie tam zrozumiałem, jak ważne są komunikacja w zespole, przejrzystość kodu oraz 
                         dobre planowanie funkcjonalności. Całe to doświadczenie pozwoliło mi poczuć, jak wygląda prawdziwa praca 
                         developera. <span class="highlight">To było coś, co naprawdę lubię robić ❤️‍🔥</span>
                    </p>            
                </div>
            </div>
        </div>
        <div class="tygodnik">
            <div class="tygodnikcontent">
                <div class="logo">
                    <img class="imagetygodnik" src="assets/work/tygodnik.png">
                </div>
                <div class="text">
                    <p>
                        Krótki epizod w redakcji <span class="highlight">Tygodnika Siedleckiego </span>  
                        był dla mnie nietypowym, ale ciekawym doświadczeniem. Pracowałem samodzielnie, bez 
                        wsparcia zespołu technicznego, co pozwoliło mi przekonać się, jak wygląda praca 
                        przy utrzymaniu istniejącej strony internetowej opartej na WordPressie i PHP. 
                        
                    </p>
                    <p>
                        Choć projekt nie wniósł zbyt wiele do mojej wiedzy programistycznej, traktuję 
                        to jako dowód na to, że nie boję się próbować nowych rzeczy i nie lubię stać w miejscu. 
                        Nawet poza strefą komfortu staram się działać i szukać okazji do nauki. Mój zakres obowiązków 
                        dotyczył administrowania stroną wordpress oraz usunięcia błędów pojawiających się na stronie.
                    </p>
                </div>
            </div>
        </div>
        <div class="tutoring">
            <div class="tutoringcontent">
                <div class="header">
                    <h3>Korepetycje</h3>
                </div>
                <div class="text">
                    <p>
                        W trakcie studiów udzielałem korepetycji z programowania – zarówno koleżankom i kolegom z roku, jak i 
                        osobom spoza uczelni. Pomagałem w nauce <span class="highlight">C#</span>, 
                        <span class="highlight">C++</span> i <span class="highlight">asemblera</span>, tłumacząc algorytmy, 
                        podstawowe struktury danych oraz zasady programowania obiektowego. Dzięki temu rozwinąłem nie tylko 
                        swoje umiejętności techniczne, ale też cierpliwość, komunikatywność i zdolność jasnego przekazywania
                         wiedzy. To doświadczenie pokazało mi, że naprawdę rozumiem to, czego uczę – i że dzielenie się wiedzą 
                         daje masę satysfakcji (i pieniędzy).
                      </p>
                      
                </div>
            </div>
        </div>
    </div>
</div>